**1) What's the output of the following lines?**

In [1]:
name = "Max"

Defining 'name' as string "Max"

In [2]:
print "hello", "name"

hello name

Prints "name" instead of "Max" because the "" make "name" an string. To get the definition of name, DO NOT put quotes.
Essentially, "name" could be anything - it has no correlation to name = Max

In [3]:
print "hello", name

hello Max

Prints "hello" (a string) and the imput/definiton of variable called name

**2) What is the output of the following code? Which lines give you errors?**

In [15]:
#This is a string
borough_name = 'Manhattan'
#This is a list
z = [ 'Manhattan', 'Queens' ]
#This is a dictionary
x = { 'borough_name': 'Manhattan', 'population': 500 }
y = {
'Manhattan': 500,
'Queens': 200
}

print x['borough_name']
#print x[borough_name]
#print x[0]
#print y['borough_name']
print y[borough_name]
#print y[0]
#print z['borough_name']
#print z[borough_name]
print z[0]

Manhattan
500
Manhattan

In [11]:
print x['borough_name']

Manhattan

Looking for the value to a **KEY (marked by "")** called 'borough_name'

In [12]:
#print x[borough_name]

Will get KEY ERROR. This function is looking for a KEY in a DICTIONARY. Unless in "", borough_name is a key.

In [13]:
#print[0]

Will get KEY ERROR because this function "print[#]" is looking for a ELEMENT of a LIST.

In [17]:
#print y['borough_name']

Will get KEY ERROR because this function is looking for a KEY in a DICTIONARY. 'Borough_name' is not an element of the Y dict.

In [18]:
print y[borough_name]

500

Defined borough_name as "Manhattan." So, this is essentially the same thing as putting in y['Manhattan'], which works here because 'Manhattan' is a key in the Y dictionary.

In [19]:
#y[0]

Will get KEY ERROR because this function "print[#]" is looking for a ELEMENT of a LIST.

In [20]:
#print z['borough_name']
#print z[borough_name]

Z is a **LIST**. Both of these functions are trying to find KEYS in DICTIONARIES. Can only find the first [0], second [1], third[2], ect. elements in a list.

In [21]:
print z[0]

Manhattan

Finding the first element of a LIST.

**3) We have a list called numbers, but we had an off-by-one error: add one to every element of the list, then sum the results. Do this in one line.**

In [23]:
numbers = [1,2,3,4,5]

Use a **LIST COMPREHENSION**

In [27]:
sum[num + 1 for num in numbers]

SyntaxError: invalid syntax (<ipython-input-27-4dda30d7c6ef>, line 1)

**4a) Given the following, write code to calculate how many murders we have in total.**

In [29]:
murders = { 'Albany': 23, 'Kings County': 10, 'Rochester': 7, 'Yonkers': 9 }

In [30]:
for county in murders.keys():
    print county, murders[county]
total = 0
for county in murders.keys():
    total = total + murders[county]
print total

Yonkers 9
Albany 23
Rochester 7
Kings County 10
49

In the first for loop, the keys in dictionary 'murder' are given the name, "county" (it could be anything: x, harry, hermione). 

In the second for loop, defining variable "total" as 0 and again giving the keys the name "county." Then, telling python to calutlate the total (which stands at 0) by adding each key value to the original 0. 
Essentially, defining total as 0 makes things work like a calculator, adding one value to a grand total

**4b) Write code to calculate the percentage of the murders happened in Kings County.**

In [31]:
float(murders['Kings County'])/total * 100

20.408163265306122

Taking the value to the key "Kings County," dividing it by the redefined total and finding percent by multiplying by 100. Float finds the decimal value.